<ion-header>
  <ion-toolbar>
    <ion-buttons start>
    <button primary large ion-button (click)="showToastWithCloseButton()">?</button>   <!--Toast-->
    </ion-buttons>
    <ion-title>
      Explore Galway <!--Title-->
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content> 
<!--Header-->
<h1> Memory Bank: </h1> 

<!--Image location in card || async connection to Firebase-->
    <ion-card *ngFor="let photo of photos | async">
      <ion-card-content>
        <img [src]="photo.src" /> 
        <!--push image to top as taken-->

<!-- *** Future text overlay idea *** -->
              <!--<label class="item item-input">
                  <input type="text" ng-model="textOverlay" placeholder="Text to overlay">
              </label>-->

        <!--Like button-->
        <!-- + firebase key connection-->
        <div class ="button-bar">
          <a class ="button"><button large (click)="likePhoto(photo.$key, photo.likes)" ion-button color="light" block>
            <ion-icon name="heart"></ion-icon>
            <ion-badge item-right>{{photo.likes}}</ion-badge>     
          </button> </a>

        <!--Dislike button-->
        <!-- + firebase key connection-->
          <a class ="button"><button medium (click)="dislikePhoto(photo.$key, photo.dislikes)" ion-button color="light" block>
            <ion-icon name="sad"></ion-icon>
            <ion-badge item-right>{{photo.dislikes}}</ion-badge>
            </button> 
          </a>

        <!--Delete button-->
        <!-- + firebase key connection-->
          <a class ="button"><button small (click)="deletePhoto(photo.$key)" ion-button color="danger" block>
            <ion-icon name="trash"></ion-icon>
            </button> 
          </a>
        </div> 
    </ion-card-content>
  </ion-card>
</ion-content> <!--Main ends-->

<ion-footer> 
      <!--Prior Firebase implementation code-->
          <!--<img [src]="base64Image" *ngIf="base64Image" />-->
          <!--<img [src]="base64Image" *ngIf= "base64Image"/>-->
    <!--Camera btn with in icon from the ionic icon-->
      <button primary large (click)="takePhoto()" ion-button outline block><ion-icon name="ios-camera"></ion-icon></button>
</ion-footer>

